@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('./variable.css');

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

body, .dashdate .btn.btn-outline.green, .page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .btn.btn-outline.green:focus {
    background: var(--Theme-Secondary-Color)!important;
}

.dashdate .btn.btn-outline.green:hover {

}

.dsh_blued1:hover .dashboard-stat2 .progress, .dsh_blued2:hover .dashboard-stat2 .progress, .dsh_blued3:hover .dashboard-stat2 .progress, .dsh_blued4:hover .dashboard-stat2 .progress {
    background: #b5b5b5 !important;
}

.login #arbAnchor li {
    color: #333 !important;
}

.logo-default {
    width: 111px !important;
}

.login .logo {
    background: var(--login-Logo) top center;
    background-repeat: no-repeat;
    height: 100px;
}

body .login {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #fff var(--Login-Background) no-repeat !important;
    background-position: center center;
    background-size: cover !important;
}

.login .content .form-title {
    color: #333 !important;
}

.login .content h4 a {
    color: #333 !important;
}

a:hover {
    cursor: pointer;
    color: #333 !important;
}

.login .lng li.actv {
    padding: 4px;
    background: #333 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
}

.login .copyright {
    margin-top: 434px !important;
    color: #a7a7a7 !important;
}

@media (min-width: 992px) {
    .login .lng li.actv {
        padding: 2px 8px !important;
        background: #333 !important;
    }
}

.sdg_tbl thead {
    border-bottom: 2px solid var(--Theme-Primary-Color);
    background: #f9fdf2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background: #353733 !important;
}

.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
    border-top: 4px solid var(--Theme-Primary-Color);
}

.font-blued1-sharp, .font-blued1-sharp + small, .font-blued2-sharp, .font-blued2-sharp + small, .font-blued3-sharp, .font-blued3-sharp + small, .font-blued4-sharp, .font-blued4-sharp + small {
    color:var(--Theme-Primary-Color) !important;
}

.dsh_blued1:hover .dashboard-stat2, .dsh_blued2:hover .dashboard-stat2, .dsh_blued3:hover .dashboard-stat2, .dsh_blued4:hover .dashboard-stat2, .overDueBlk:hover {
    background: #80808059 !important;
}

.progress-bar.blued1-sharp, .progress-bar.blued2-sharp, .progress-bar.blued3-sharp, .progress-bar.blued4-sharp {
    background: var(--Theme-Primary-Color)!important;
}

.daterange_con, .page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: var(--Theme-Primary-Color);
}

.daterange_con {
    border: 1px solid var(--Theme-Primary-Color);
}

.sdg_tbl thead tr th {
    color: #666;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {

    border-bottom: 1px solid #40423e;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: var(--Theme-Primary-Color) !important;
    border-color: var(--Theme-Primary-Color) !important;
}

.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.active > a:hover {
    background: var(--Theme-Primary-Color) !important;
    color: #fff;
}

.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #2a2b28 !important;
}

.page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #323550;
}

.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu:before, .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.upward:after {
    color: var(--Theme-Primary-Color);
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: var(--Theme-Primary-Color) !important;
}

.text-success {
    color: var(--Theme-Primary-Color) !important;
}

.overDueBlk .days {
    color: var(--Theme-Primary-Color)
}

.overDueBlk:hover p, .overDueBlk:hover h3, .overDueBlk:hover a, .overDueBlk:hover i {
    color: #fff !important
}

.btn.green:not(.btn-outline), .btn-success {
    background-color: var(--Theme-Primary-Color) !important;
    border-color: var(--Theme-Primary-Color) !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.btn.green:not(.btn-outline):hover, .btn-success.active, .btn-success:active, .btn-success:hover, .open > .btn-success.dropdown-toggle {
    background-color: #555 !important;
    border-color: #666 !important;
}

.btn.green:not(.btn-outline):focus, .btn.green:not(.btn-outline):active {
    background-color: var(--Theme-Primary-Color) !important;
    border-color: var(--Theme-Primary-Color) !important;
}

.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
    border-color: var(--Theme-Primary-Color)B42572;
    color: #fff;
    background-color: var(--Theme-Primary-Color);
}

.btn.btn-outline.red {
    border-color: var(--Theme-Primary-Color) !important;
    color: var(--Theme-Primary-Color) !important;
    background: 0 0;
}

.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
    border-color: var(--Theme-Primary-Color) !important;
    color: #fff !important;
    background-color: var(--Theme-Primary-Color) !important;
}

.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover {
    border-color: var(--Theme-Primary-Color);
    color: #FFF;
    background-color: var(--Theme-Primary-Color);
}

.dashdate .btn.btn-outline.green:hover {
    border-color: #40496a;
}

.dsh_blued1:hover .dashboard-stat2 .progress, .dsh_blued2:hover .dashboard-stat2 .progress, .dsh_blued3:hover .dashboard-stat2 .progress, .dsh_blued4:hover .dashboard-stat2 .progress {
    background: #b5b5b5 !important;
}

.logo-default {
    width: 111px !important;
}

a:hover {
    cursor: pointer;
    color: var(--Theme-Primary-Color) !important;
}

.login .lng li.actv {
    padding: 4px;
    background: #333 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
}

.login .copyright {
    margin-top: 434px !important;
    color: #a7a7a7 !important;
}

@media (min-width: 992px) {
    .login .lng li.actv {
        padding: 2px 8px !important;
        background: #333 !important;
    }
}

.sdg_tbl thead {
    border-bottom: 2px solid var(--table-Head-Color);
    background: var(--table-Head-Color);
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background: #353733 !important;
}

.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
    border-top: 4px solid var(--Theme-Primary-Color);
}

.font-blued1-sharp, .font-blued1-sharp + small, .font-blued2-sharp, .font-blued2-sharp + small, .font-blued3-sharp, .font-blued3-sharp + small, .font-blued4-sharp, .font-blued4-sharp + small {
    color: var(--Theme-Primary-Color) !important;
}

.dsh_blued1:hover .dashboard-stat2, .dsh_blued2:hover .dashboard-stat2, .dsh_blued3:hover .dashboard-stat2, .dsh_blued4:hover .dashboard-stat2, .overDueBlk:hover {
    background:  var(--Theme-Primary-Color);
}
.progress-bar.blued1-sharp, .progress-bar.blued2-sharp, .progress-bar.blued3-sharp, .progress-bar.blued4-sharp {
    background: var(--Theme-Primary-Color) !important;
}

.daterange_con, .page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background-color:var(--Theme-Primary-Color);
}

.daterange_con {
    border: 1px solid var(--Theme-Primary-Color)B42572;
}

.dashdate .btn.btn-outline.green, .btn.btn-outline.green:focus {
    border-color: var(--Theme-Primary-Color) !important;
    color: #fff !important;
    background-color: var(--Theme-Primary-Color) !important;
}

.portlet.light.sdg_portlet, .dashdate .modal-content {
    border-top: 4px solid var(--Theme-Primary-Color)!important;
}

.sdg_tbl thead tr th {
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {

    border-bottom: 1px solid #40423e;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: var(--Theme-Primary-Color) !important;
    border-color: var(--Theme-Primary-Color) !important;
}

.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li.active > a {
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.active > a:hover {
    background: var(--Theme-Primary-Color) !important;
    color: #fff !important;
}

.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #f1f1f1 !important;
    color: #333 !important;
}

.page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #323550;
}

.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu:before, .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.upward:after {
    color: var(--Theme-Primary-Color);
}


.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: var(--Theme-Primary-Color) !important;
    color: #fff !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
    color: var(--Theme-Primary-Color) !important;
}

.page-sidebar .page-sidebar-menu > li > a > i {
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu > li:hover > a > i {
    color: #fff !important;
}

.text-success {
    color: var(--Theme-Primary-Color) !important;
}

.overDueBlk .days {
    color: var(--Theme-Primary-Color)
}

.overDueBlk:hover p, .overDueBlk:hover h3, .overDueBlk:hover a, .overDueBlk:hover i {
    color: #fff !important
}

.btn.green:not(.btn-outline), .btn-success {
    background-color: var(--Theme-Primary-Color) !important;
    border-color: var(--Theme-Primary-Color) !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.btn.green:not(.btn-outline):hover, .btn-success.active, .btn-success:active, .btn-success:hover, .open > .btn-success.dropdown-toggle {
    background-color: var(--Theme-Secondary-Color) !important;
    border-color: var(--Theme-Secondary-Color) !important;
    color: #fff !important;
}

.btn.green:not(.btn-outline):focus, .btn.green:not(.btn-outline):active {
    background-color: var(--Theme-Primary-Color) !important;
    border-color: var(--Theme-Primary-Color) !important;
}

.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
    border-color: var(--Theme-Primary-Color);
    color: #fff;
    background-color: var(--Theme-Primary-Color);
}

.btn.btn-outline.red {
    border-color: var(--Theme-Primary-Color) !important;
    color: var(--Theme-Primary-Color) !important;
    background: 0 0;
}

.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
    border-color: var(--Theme-Primary-Color) !important;
    color: #fff !important;
    background-color: var(--Theme-Primary-Color) !important;
}

.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover {
    border-color: var(--Theme-Primary-Color);
    color: #FFF;
    background-color: var(--Theme-Primary-Color);
}

.dashdate .btn.btn-outline.green:hover {
    border-color: #40496a;
}


.page-header.navbar .page-logo {
    background: var(--Main-logo); 
    background-repeat: no-repeat;
    margin-left: 1.8%;
    width: 179px !important;
    margin-top: 19px;
}

.menu-toggler.sidebar-toggler:hover {
    background: var(--Theme-Primary-Color);
}

.page-header-fixed .page-container {
    margin-top: 67px !important;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
    background: var(--Theme-Secondary-Color) !important;
    color: #fff !important
}

.page-sidebar-closed .page-header.navbar .page-logo {
    background: var(--collapse-Emblm) no-repeat;
    margin-left: 0.8% !important;
}

.margin-zero {
    margin-bottom: 0px;
    margin-top: 0px;
}

.textareacipher {
    white-space: pre;
}

.daterange_con_tabs {
    display: flex;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.tab_active {
    background-color: var(--Theme-Primary-Color);
    padding: 6px 12px;
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.4);
    margin-right: 15px;
    border: 2px solid var(--Theme-Primary-Color-dark);
    height: fit-content;
}

.tab_notactive {
    background-color: var(--Theme-Primary-Color);
    padding: 6px 12px;
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.29);
    border: 2px solid var(--Theme-Primary-Color-dark);
    margin-right: 15px;
    height: fit-content;
}

.tablogo {
    display: -webkit-box;
    margin: auto;
    height: 28px;
}

.tab_dropdown {
    height: 16px;
    margin-top: 22px;
    padding-left: 12px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  var(--Theme-Primary-Color-dark);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -135px;
    top: 36px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff !important;
    padding: 10px 28px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--Theme-Primary-Color-dark);
    color: #fff !important;
    text-decoration: none;
}

/* Show the dropdown menu on hover */
li:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.tab_dropdownnav:hover {
    padding: 17px 10px 25px;
    cursor: pointer;
    background: var(--Theme-Primary-Color-dark);
    border-radius: 4px !important;
}

.tab_dropdownnav {
    padding: 17px 10px 25px;
    cursor: pointer;
}

.tab_notactive:hover {
    background-color: var(--Theme-Primary-Color);
    padding: 6px 12px;
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.4);
    margin-right: 15px;
    border: 2px solid var(--Theme-Primary-Color-dark);
    height: fit-content;
}

.dashboard-stat2 {

    border: 1px dashed grey !important;
}

.note.note-documentation {
    background-color: #70708533;
    border-color: var(--tabs-color);
    color: #000;
}

.control-label {
    padding-Top: 8px;
    font-weight: 400;
}


.tabbable-line2 > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    background: 0 0;
    border-bottom: 4px solid var(--Tabs-color-hover);
}

.tabbable-line2 > .nav-tabs > li.active {
    background: 0 0;
    border-bottom: 4px solid #99da58;
    position: relative;
}

.page-container-bg-solid .tabbable-line > .tab-content {
    border-top: 0px !important;
}

.tab-content2 {
    margin-top: 0;
    border: 0;
    border-top: 1px solid #eef1f5;
    padding: 0px !important;
}

.tabbable-line>.nav-tabs>li.active {
    background: 0 0;
    border-bottom: 4px solid var(--tabs-color)!important;
    position: relative;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* CUSTOMS */
/*Dropdown list*/

.show-on-hover:hover>ul.dropdown-menu {
	display: block;
}

/* setp screen css */

.orderno label {
	font-size: 18px;
	position: relative;
	top: 3px;
	left: 4px;
}

.rowdata {
	padding: 15px;
	margin-top: 15px;
}

.shadowBox {
	border-radius: 15px!important;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.19);
}

.Courierbox {
	padding: 20px 0 25px;
	margin: 5px 0 30px;
}

.boxBody {
	padding: 15px 20px;
	;
	/* height: 20%; */
}

.boxBody .form-group {
	margin-bottom: 5px;
}

.squarebox .caption {
	width: 50%;
	float: left;
	display: block;
}

.squarebox .titleicon {
	width: 50%;
	float: left;
	text-align: right;
}

.titleicon img {
	width: 11%;
	position: relative;
	bottom: 6px;
}

.titleicon.billto img {
	width: 14%;
	top: -3px;
}

.squarebox {
	border-radius: 20px!important;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19);
}

.titleicon.shipto img {
	width: 14%;
	top: -3px;
}

.titleicon.shipto img {
	width: 15%;
	top: 1px;
}

.portletheading {
	width: 100%;
	padding: 15px 20px;
	border-bottom: 1px solid #d6eddc;
	height: 50px;
}

.portletheading .caption-subject {
	color: #ae8b4b;
}

.recipt {
	margin-bottom: 15px;
	padding: 10px;
}

span.noofbox {
	margin-left: 20px;
}

.errorbox {
	background: #FFEFEF;
	color: black;
	padding: 10;
	border-radius: 3px!important;
	margin-bottom: 20px;
}

label.errorcolr {
	color: red;
	font-weight: 600;
}

.linetext {
	margin-top: 35px;
}

/*tabs*/

.ui-regulartabs .nav>li>a {
	padding: 10px 20px;
	background: #dddddd;
	font-size: 12px;
	font-weight: 600;
	border-radius: 0;
	color: #2f353b;
}

.ui-regulartabs .nav-tabs>li>a:hover {
	color: inherit;
	background-color: rgb(221, 221, 221);
	border-color: rgb(221, 221, 221);
	border-bottom-color: transparent;
}

.ui-regulartabs .nav-tabs>li {
	cursor: pointer;
}

.ui-Warning-text {
	color: red;
	font-weight: bold;
}

.ui-regulartabs ul.nav.nav-tabs {
	margin-bottom: 3px !important;
}

.ui-regulartabs .nav-tabs li.active>a {
	background-color:  var(--Theme-Primary-Color);
}

.ui-regulartabs .panel {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.ui-regulartabs .ui-tabborder {
	border: 1px solid #dddddd;
	margin-top: -2px;
}

.ui-regulartabs .nav li a i {
	width: 15px;
}

.ui-regulartabs .nav>li>a:hover {
	color: #2f353b!important;
}

.ui-tabcontentbody {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
	margin-top: -3px;
	padding: 20px;
}

/*table altration*/

.ui-tabcontentbody thead {
	background-color:  var(--Theme-Primary-Color);
	color: white;
}

.ui-tabcontentbody thead th {
	padding: 6px 8px!important;
	font-size: 12px!important;
}

.ui-tabcontentbody tbody td {
	padding: 4px 8px!important;
}

/*progressbar*/

#progressbar {
	margin: 10px 0 30;
	overflow: hidden;
	counter-reset: step;
	width: 100%;
	text-align: center;
	padding-left: 0;
}

#progressbar li {
	list-style-type: none;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	font-size: 12px;
	/* width: 25%; */
	float: left;
	position: relative;
	font-weight: 800;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 35px;
	line-height: 32px;
	display: block;
	font-size: 16px;
	color: #fff;
	background: #555;
	border-radius: 3px;
	margin: 0 auto 4px auto;
	font-weight: 600;
	position: relative;
	z-index: 99;
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: #ffcc00;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: 0;
}

#progressbar li:first-child:after {
	content: none;
}

#progressbar li.notPassed:before {
	background: #a5a6af;
	color: white;
}

#progressbar li.active:before {
	background: #00ae4f;
	color: white;
}

#progressbar li.warning:before {
	background: #e80202;
	color: white;
}

/* end setp screen css */

@media (max-width: 768px) {
	.BoxAction {
		top: -12px;
	}
	.personInfo {
		text-align: center;
	}
	.innerBox-Content {
		height: 230px;
	}
	.at-connections .BoxAction {
		right: 158px;
		top: 20px;
	}
	.ConnStatus {
		margin-top: 35px;
	}
}

@media (max-width: 425px) {
	span.DeviceIdno {
		margin-left: 57px;
	}
	.DeviceHeader .portlet-title {
		padding: 10px 20px!important;
	}
	.designImg img {
		top: -25px;
	}
	.D-header .caption>.caption-subject {
		margin-left: 10px;
	}
	ul.sub-menu li.nav-item {
		text-align: center;
	}
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    background-color:  var(--Theme-Primary-Color);
    border-radius: 10px;
}
.badge-warning {
    background-color: #fb7425;
}

.badge-success {
    background: #56a93c;
}


/* Tiles*/

.table100 {
    position: relative;
}


.table100.ver1 {
    border-radius: 5px !important;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    /* height: 28%; */
    background-color: #fff;
}


.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.orderdetails-table{
	
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.06);
    padding-top: 6px;
    padding-bottom: 0px;
    font-size: 16px;
    color:  var(--Theme-Primary-Color);
    line-height: 1.9;
    /* background-color: #d71923; */

}

.table100-head {
   
    width: 100%;
    top: 0;
    left: 0;
}

.table100.ver1 th {
    font-size: 19px;
    color: #fff;
    line-height: 1.4;
    background-color: var(--Theme-Primary-Color);
}