@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
body, .dashdate .btn.btn-outline.green, .page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .btn.btn-outline.green:focus {
	background: #848586 !important;
}
.dashdate .btn.btn-outline.green:hover {

}

.dsh_blued1:hover .dashboard-stat2 .progress, .dsh_blued2:hover .dashboard-stat2 .progress, .dsh_blued3:hover .dashboard-stat2 .progress, .dsh_blued4:hover .dashboard-stat2 .progress {
	background: #b5b5b5 !important;
}
.login #arbAnchor li{
	color: #333 !important;
}
.logo-default{
	width: 111px !important;
}
.login .logo{
	background: url(logo-default.jpg) top center;
	background-repeat: no-repeat;
	height: 100px;
}
body .login {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: #fff url(innovations-bg.jpg) no-repeat !important;
	background-position: center center;
	background-size: cover !important;
}
.login .content .form-title {
	color: #333 !important;
}
.login .content h4 a {
	color: #333 !important;
}
a:hover {
	cursor: pointer;
	color: #333 !important;
}
.login .lng li.actv {
	padding: 4px;
	background: #333 !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	border-radius: 4px !important;
}
.login .copyright {
	margin-top: 434px !important;
	color: #a7a7a7 !important;
}
@media (min-width: 992px){
	.login .lng li.actv {
		padding: 2px 8px !important;
		background: #333 !important;
	}
}
.sdg_tbl thead {
	border-bottom: 2px solid #B42572;
	background: #f9fdf2;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default{
	background: #353733!important;
}
.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
	border-top: 4px solid #B42572;
}
.font-blued1-sharp, .font-blued1-sharp + small, .font-blued2-sharp, .font-blued2-sharp + small, .font-blued3-sharp, .font-blued3-sharp + small, .font-blued4-sharp, .font-blued4-sharp + small {
	color: #B42572!important;
}
.dsh_blued1:hover .dashboard-stat2, .dsh_blued2:hover .dashboard-stat2, .dsh_blued3:hover .dashboard-stat2, .dsh_blued4:hover .dashboard-stat2, .overDueBlk:hover {
	background: #B42572 !important;
}
.progress-bar.blued1-sharp, .progress-bar.blued2-sharp, .progress-bar.blued3-sharp, .progress-bar.blued4-sharp {
	background: #B42572 !important;
}
.daterange_con, .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
	background: #B42572;
}
.daterange_con {
	border: 1px solid #B42572;
}
.sdg_tbl thead tr th {
	color: #666;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{

	border-bottom: 1px solid #40423e;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color: #fff;
	background-color: #B42572 !important;
	border-color: #B42572 !important;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
	color: #fff;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, .page-sidebar .page-sidebar-menu>li.active>a:hover {
	background: #B42572 !important;
	color: #fff;
}
.page-sidebar-menu-hover-submenu li:hover>.sub-menu {
	background: #2a2b28!important;
}
.page-sidebar-menu-hover-submenu li:hover a>.arrow {
	border-right: 8px solid #323550;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu:before, .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover> .sub-menu.upward:after{
	color: #B42572;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
	background: #B42572  !important;
}

.text-success {
	color: #B42572  !important;
}
.overDueBlk .days {
	color: #B42572
}
.overDueBlk:hover p, .overDueBlk:hover h3, .overDueBlk:hover a, .overDueBlk:hover i {
	color: #fff !important
}
.btn.green:not(.btn-outline), .btn-success {
	background-color: #B42572 !important;
	border-color: #B42572 !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.btn.green:not(.btn-outline):hover, .btn-success.active, .btn-success:active, .btn-success:hover, .open>.btn-success.dropdown-toggle {
	background-color: #555 !important;
	border-color: #666 !important;
}
.btn.green:not(.btn-outline):focus, .btn.green:not(.btn-outline):active {
	background-color: #B42572 !important;
	border-color: #B42572 !important;
}
.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
	border-color: #B42572;
	color: #fff;
	background-color: #B42572;
}
.btn.btn-outline.red {
	border-color: #B42572 !important;
	color: #B42572 !important;
	background: 0 0;
}

.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
	border-color: #B42572 !important;
	color: #fff !important;
	background-color: #B42572 !important;
}

.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover {
	border-color: #B42572;
	color: #FFF;
	background-color: #B42572;
}
.dashdate .btn.btn-outline.green:hover {
	border-color: #40496a;
}

.dsh_blued1:hover .dashboard-stat2 .progress, .dsh_blued2:hover .dashboard-stat2 .progress, .dsh_blued3:hover .dashboard-stat2 .progress, .dsh_blued4:hover .dashboard-stat2 .progress {
	background: #b5b5b5 !important;
}
.logo-default{
	width: 111px !important;
}

a:hover {
	cursor: pointer;
	color: #B42572 !important;
}
.login .lng li.actv {
	padding: 4px;
	background: #333 !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	border-radius: 4px !important;
}
.login .copyright {
	margin-top: 434px !important;
	color: #a7a7a7 !important;
}
@media (min-width: 992px){
	.login .lng li.actv {
		padding: 2px 8px !important;
		background: #333 !important;
	}
}
.sdg_tbl thead {
	border-bottom: 2px solid #B42572;
	background: #f9fdf2;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default{
	background: #353733!important;
}
.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
	border-top: 4px solid #B42572;
}
.font-blued1-sharp, .font-blued1-sharp + small, .font-blued2-sharp, .font-blued2-sharp + small, .font-blued3-sharp, .font-blued3-sharp + small, .font-blued4-sharp, .font-blued4-sharp + small {
	color: #B42572 !important;
}
.dsh_blued1:hover .dashboard-stat2, .dsh_blued2:hover .dashboard-stat2, .dsh_blued3:hover .dashboard-stat2, .dsh_blued4:hover .dashboard-stat2, .overDueBlk:hover {
	background: #B42572!important;
}
.progress-bar.blued1-sharp, .progress-bar.blued2-sharp, .progress-bar.blued3-sharp, .progress-bar.blued4-sharp {
	background: #B42572 !important;
}
.daterange_con, .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
	background: #B42572;
}
.daterange_con {
	border: 1px solid #B42572;
}
.dashdate .btn.btn-outline.green, .btn.btn-outline.green:focus {
    border-color: #B42572 !important;
    color: #fff !important;
    background-color: #B42572!important;
}
.portlet.light.sdg_portlet, .dashdate .modal-content {
	border-top: 4px solid #B42572 !important;
}
.sdg_tbl thead tr th {
	color: #666;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{

	border-bottom: 1px solid #40423e;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color: #fff;
	background-color: #B42572 !important;
	border-color: #B42572 !important;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
	color: #fff;
}
.page-sidebar .page-sidebar-menu>li.active>a {
	color: #fff !important;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, .page-sidebar .page-sidebar-menu>li.active>a:hover {
	background: #B42572 !important;
	color: #fff !important;
}
.page-sidebar-menu-hover-submenu li:hover>.sub-menu {
	background: #f1f1f1!important;
	color:  #333 !important;
}
.page-sidebar-menu-hover-submenu li:hover a>.arrow {
	border-right: 8px solid #323550;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu:before, .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover> .sub-menu.upward:after{
	color: #B42572;
}


.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
	background: #B42572  !important;
	color: #fff !important;
}

 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
	color: #B42572 !important;
}
.page-sidebar .page-sidebar-menu>li>a>i {color: #fff !important;}
.page-sidebar .page-sidebar-menu>li:hover>a>i {
    color: #fff !important;
}
.text-success {
	color: #B42572  !important;
}
.overDueBlk .days {
	color: #B42572
}
.overDueBlk:hover p, .overDueBlk:hover h3, .overDueBlk:hover a, .overDueBlk:hover i {
	color: #fff !important
}
.btn.green:not(.btn-outline), .btn-success {
	background-color: #B42572 !important;
	border-color: #B42572 !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.btn.green:not(.btn-outline):hover, .btn-success.active, .btn-success:active, .btn-success:hover, .open>.btn-success.dropdown-toggle {
	background-color: #848586 !important;
    border-color: #848586 !important;
    color: #fff !important;
}
.btn.green:not(.btn-outline):focus, .btn.green:not(.btn-outline):active {
	background-color: #B42572 !important;
	border-color: #B42572 !important;
}
.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
	border-color: #B42572;
	color: #fff;
	background-color: #B42572;
}
.btn.btn-outline.red {
	border-color: #B42572 !important;
	color: #B42572 !important;
	background: 0 0;
}

.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
	border-color: #B42572 !important;
	color: #fff !important;
	background-color: #B42572 !important;
}

.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover {
	border-color: #B42572;
	color: #FFF;
	background-color: #B42572;
}
.dashdate .btn.btn-outline.green:hover {
	border-color: #40496a;
}


.page-header.navbar .page-logo{
	background: url("innovations-logo.png");
	background-repeat: no-repeat;
	margin-left: 1.8%;
	width: 179px !important;
	margin-top: 19px;
}
.menu-toggler.sidebar-toggler:hover {
    background: #B42572;
}
.page-header-fixed .page-container {
    margin-top: 67px !important;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
	    background: #848586 !important;
	    color: #fff !important
}
.page-sidebar-closed .page-header.navbar .page-logo {
	background: url(AI_Emblm.png) no-repeat; 
	margin-left: 0.8% !important;
}