:root{

    /* Theme Colors */
    --Theme-Primary-Color: #ae8b4b;
    --Theme-Primary-Color-dark: #6c4d14;
    --Theme-Secondary-Color: #333;
    --table-Head-Color:  #ae8b4b;
    --caption-subject: #333;
    --Tabs-color-hover :#ae8b4b;
    --tabs-color: #ae8b4b;

    /* Login page */
    --Login-Background: url(ecommerce-bg.jpg);
    --login-Logo: url(logo-default.jpg);

    /* Main application Path */
    --Main-logo: url(logo-default.png);
    --collapse-Emblm: url(AI_Emblm.png)


}

mongodb://23.97.138.116:10050/customs_dev