:root{

    /* Theme Colors */

    --Theme-Primary-Color: #B42572;
    --Theme-Secondary-Color: #848586;
    --table-Head-Color:  #666666c7;
    --caption-subject: #c20c35;
    --Tabs-color-hover : rgba(77, 30, 92, 0.51);
    --tabs-color: #5b1163;

    /* Login page */
    --Login-Background: url(innovations-bg.jpg);
    --login-Logo: url(logo-default.jpg);

    /* Main application Path */
    --Main-logo: url(innovations-logo.png);
    --collapse-Emblm: url(AI_Emblm.png)


}

